<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="Programatica.Framework.Core" version="1.0.3" targetFramework="net461" />
  <package id="Programatica.Saft.Models" version="1.0.2" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.Core.WinForms" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.Data.WinForms" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.DataGridExport.WinForms" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.DataSource.WinForms" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.Grid.Base" version="18.2.0.58" targetFramework="net461" />
  <package id="Syncfusion.Grid.Windows" version="18.2.0.58" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.WinForms" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.Pdf.WinForms" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.SfInput.WinForms" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.SfListView.WinForms" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.Shared.Base" version="18.2.0.59" targetFramework="net461" />
  <package id="Syncfusion.Shared.Windows" version="18.2.0.58" targetFramework="net461" />
  <package id="Syncfusion.SpellChecker.Base" version="18.2.0.58" targetFramework="net461" />
  <package id="Syncfusion.Tools.Base" version="18.2.0.58" targetFramework="net461" />
  <package id="Syncfusion.Tools.Windows" version="18.2.0.58" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.WinForms" version="18.2.0.59" targetFramework="net461" />
</packages>